:root {
  --yellow: #ffce25;
  --hoverYellow: #bd9a1b;
  --blue: #0097cc;
  --hoverBlue: #005b7c;
  --darkGray: #1d1d1b;
  --lightGray: #7f7f7f;
  --lighterGray: #f2f2f2;
  --red: #ff392e;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
}

/* .App::before {
  content: "";
  display: block;
  height: 60px;
} */

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* ------------------ ERROR ------------------ */

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.errorTxt {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.tryAgain {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--yellow);
  padding: 0.8em 2.2em;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
}

.tryAgain:hover {
  background-color: var(--hoverYellow);
}

/* ------------------ ERROR ------------------ */

/* ------------------ HEADER ------------------ */

.headerContainer {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 70px 5px 20px;
  background-color: var(--yellow);
  z-index: 1;
}

.logo {
  cursor: pointer;
}

.cartContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.iconContainer ion-icon {
  font-size: 1.5rem;
}

.iconContainer {
  color: black;
  cursor: pointer;
}

.iconContainer:hover {
  color: var(--lightGray);
}

.cartText {
  margin-left: 10px;
}

.blueDot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  left: 16px;
  top: 2px;
}

@media (max-width: 500px) {
  .cartText {
    display: none;
  }

  .headerContainer {
    padding-right: 20px;
  }
}
/* ------------------ HEADER ------------------ */

/* ------------------ FOOTER ------------------ */

.footerContainer {
  height: 60px;
  background-color: var(--lighterGray);
  display: flex;
  align-items: center;
  padding-left: 60px;
  grid-row: 2/3;
}

.footerText {
  color: var(--lightGray);
}

/* ------------------ FOOTER ------------------ */

/* ------------------ CART POPUP BOX ------------------ */

/* KAKO NE PREKRIJE ONO DOLE ZA KUPIT NA MALIM EKRANIMAAAAA */

.cartPopupBox {
  position: fixed;
  overflow: scroll;
  width: 250px;
  height: 100vh;
  top: 0px;
  right: 0px;
  padding: 0 10px;
  background-color: white;
  z-index: 100;
}

/* KAKO NE PREKRIJE ONO DOLE ZA KUPIT NA MALIM EKRANIMAAAAA */

.popupHeader {
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.popupIconContainer ion-icon {
  font-size: 1.5rem;
}

.popupIconContainer {
  color: black;
}

.cartPopupText {
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 10px;
}

.exitBtn {
  font-size: 1.6rem;
  cursor: pointer;
  transform: rotate(45deg);
}

.exitBtn:hover {
  color: var(--lightGray);
}

.popupBuyBox {
  width: 80%;
  margin: 20px auto 0px auto;
}

.popupTotal {
  font-size: 0.6rem;
  color: var(--lightGray);
}

.popupPrice {
  font-size: 1.3rem;
  font-weight: 700;
}

.popupPrice span {
  font-size: 0.8rem;
}

.popupBtn {
  background-color: var(--blue);
  color: white;
  font-size: 0.7rem;
  padding: 1em 1.2em;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popupBtn:hover {
  background-color: var(--hoverBlue);
}

@media (max-width: 500px) {
  .cartPopupBox {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    z-index: 2;
  }
  .popupBtn:hover {
    background-color: var(--blue);
  }
}

/* ------------------ CART POPUP BOX ------------------ */

/* ------------------ WORKSHOP CART BOX ------------------ */

.workshopCartBox {
  display: flex;
  background-color: var(--lighterGray);
  min-height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.workshopCartBoxImgContainer {
  width: 30%;
}

.workShopCartContent {
  width: 70%;
  padding: 10px 15px;
}

.workshopCartBoxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workShopCartInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.workShopCartBuy {
  display: flex;
  align-items: center;
}

.workShopCartBuy select {
  border: 1px solid var(--blue);
  padding: 4px 2px;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.workShopCartTitle {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--blue);
}

.workShopCartTrash ion-icon {
  font-size: 1rem;
  color: var(--lightGray);
  cursor: pointer;
  margin-left: auto;
}

.workShopCartTrash ion-icon:hover {
  color: var(--darkGray);
}

.workShopCartPrice {
  font-size: 0.8rem;
  font-weight: 700;
}

.workShopCartPrice span {
  font-size: 0.6rem;
}

@media (max-width: 500px) {
  .workshopCartBox {
    height: 120px;
  }
  .workShopCartInfo {
    margin-bottom: 15px;
  }
  .workShopCartContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .workShopCartTitle {
    font-size: 1.2rem;
  }
  .workShopCartTrash ion-icon {
    font-size: 1.3rem;
  }
  .workShopCartBuy {
    margin-bottom: 10px;
    width: fit-content;
  }
  .workShopCartBuy select {
    border: 1px solid var(--blue);
    padding: 6px 10px;
    margin-right: 20px;
  }
  .workShopCartPrice {
    font-size: 1.3rem;
  }

  .workShopCartPrice span {
    font-size: 0.8rem;
  }
}

/* ------------------ WORKSHOP CART BOX ------------------ */

/* ------------------ WORKSHOPS LIST PAGE ------------------ */

.workshopPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.filterBy,
.categoriesBox {
  display: none;
}

.infoBox {
  margin-bottom: 10px;
  margin-left: 20px;
}

.pageTitle {
  font-size: 1.4rem;
  font-weight: 700;
}

.displayed {
  font-size: 0.7rem;
  color: var(--lightGray);
}

.displayed span {
  font-weight: 700;
}

.categoriesSelect select {
  border: none;
  background-color: white;
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 3px;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.loadMore {
  display: inline;
  margin: 0 auto;
  border-bottom: 1px solid var(--blue);
}

.loadMore:hover {
  color: var(--blue);
}

@media (min-width: 500px) {
  .workshopPage {
    display: grid;
    grid-template-columns: 1fr 2em 3fr;
    grid-template-rows: 50px 2em 1fr 2em 30px;
    grid-template-areas:
      "filter     .   info"
      ".          .      ."
      "cagetories .   main"
      ".          .       ."
      ".          .   load";
    padding-top: 60px;
  }

  .categoriesSelect {
    display: none;
  }

  .filterBy,
  .categoriesBox {
    display: block;
  }

  .filterBy {
    grid-area: filter;
    align-self: end;
    color: var(--lightGray);
    font-size: 0.7rem;
    margin-left: 30px;
  }

  .loadMore {
    display: inline;
    grid-area: load;
    font-size: 0.7rem;
    font-weight: 700;
    border-bottom: 1px solid var(--blue);
    align-self: start;
    margin: 0 250px 0 auto;
    cursor: pointer;
  }

  .loadSpinner {
    border-bottom: none;
  }

  .infoBox {
    grid-area: info;
    align-self: end;
    margin: 0;
  }

  .categoriesBox {
    grid-area: cagetories;
  }

  .all {
    margin-left: 30px;
  }

  .mainContent {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .category {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
  }

  .currentCategory {
    color: var(--blue);
  }

  .currentCategory span {
    border-bottom: 2px solid var(--blue);
  }

  .category:hover,
  .category:focus {
    color: var(--blue);
  }

  .categoryIcon {
    width: 30px;
  }

  .currentCategory {
    color: var(--blue);
  }
}

/* ------------------ WORKSHOPS LIST PAGE ------------------ */

/* ------------------ WORKSHOP BOX ------------------ */

.workshopBox {
  display: flex;
  background-color: white;
  border: 1px solid var(--lighterGray);
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: space-between;
}

.boxImgContainer {
  width: 35%;
}

.boxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxImg:hover {
  opacity: 0.8;
}

.boxImgContainer:hover {
  background-color: black;
}

.boxContent {
  position: relative;
  width: 65%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boxContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.boxIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
  color: white;
  border-radius: 5px;
  position: absolute;
  left: -15px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.boxInfo {
  display: flex;
}

.date,
.time {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--darkGray);
  margin-right: 5px;
}

.boxTitle {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.boxTitle:hover {
  color: var(--hoverBlue);
}

.buyInfo {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.price {
  font-weight: 700;
}

.price span {
  font-size: 0.6rem;
}

.boxBtn {
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.boxBtn:hover {
  background-color: var(--hoverYellow);
}

.boxBtn ion-icon {
  font-size: 1.4rem;
}

.BTNtext {
  display: none;
}

@media (min-width: 500px) {
  .workshopBox {
    display: block;
    height: 320px;
    width: 240px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
  }
  .boxImgContainer {
    height: 40%;
    width: 100%;
  }

  .boxImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .boxContent {
    position: relative;
    width: 100%;
    height: 60%;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
  }

  .boxContentContainer {
    height: 100%;
    width: 90%;
    justify-content: space-around;
  }

  .boxIconContainer {
    position: absolute;
    top: -10px;
    left: 200px;
  }

  .boxFloatingIcon {
    font-size: 0.6rem;
  }

  .buyInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .price {
    font-weight: 700;
    columns: var(--darkGray);
    margin-bottom: 15px;
  }

  .boxBtn {
    width: 80%;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 10px;
  }

  .BTNtext {
    display: block;
  }

  .BTNicon {
    display: none;
  }
}

/* ------------------ WORKSHOP BOX ------------------ */

/* ------------------ WORKSHOP DETAILS PAGE ------------------ */

.detailsPage {
  padding-top: 80px;
}

.topContent {
  padding: 0 20px;
}

.bottomContent {
  background-color: var(--lighterGray);
}

.goBack {
  padding: 10px 0;
}

.goBackBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.goBackBox ion-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5px;
}

.goBackBox:hover {
  color: var(--lightGray);
}

.detailsImgContainer {
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.detailsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailsContent {
  position: relative;
}

.detailsSideInfo {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 30px;
}

.detailsCategoryIconContainer {
  position: absolute;
  right: 20px;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
  color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.detailsCategoryIcon {
  font-size: 0.9rem;
}

.date,
.time {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
}

.detailsTitle {
  color: var(--blue);
}

.detailsDescription {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 30px 20px;
  color: var(--darkGray);
}

.detailsSpeaker {
  font-size: 1.4rem;
  margin: 10px 0 20px 30px;
  font-weight: 700;
}

.detailsSpeaker span {
  font-size: 1rem;
}

.similarBox {
  padding: 20px;
}

.similarTitle {
  margin-bottom: 20px;
  text-align: center;
}

.cardText,
.cardTotal {
  display: none;
}

.buyCard {
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 10px 20px;
}

.cardPrice {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 10px 0;
}

.cardPrice span {
  font-size: 0.7rem;
  font-weight: 700;
}

.detailsBuyInfo {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
}

.detailsBuyInfo select {
  border: 1px solid var(--blue);
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  /* margin-right: 5px;
  margin-bottom: 5px; */
  cursor: pointer;
}

.cardBtn {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--yellow);
  padding: 0.8em 2.2em;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
}

.cardBtn:hover {
  background-color: var(--hoverYellow);
}

.none {
  display: none;
}

@media (min-width: 500px) {
  .none {
    display: block;
  }

  .detailsPage {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
  }

  .topContent {
    display: flex;
    padding: 0 10px;
  }

  .goBack {
    width: 15%;
  }

  .goBackBox {
    height: 30px;
    width: fit-content;
  }

  .goBackBox ion-icon {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .goBackBox:hover {
    color: var(--lightGray);
  }

  .detailsBox {
    width: 80%;
  }

  .detailsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .detailsImgContainer {
    height: 250px;
  }

  .detailsContent {
    position: static;
    display: flex;
    justify-content: space-between;
  }

  .detailsInfo {
    width: 60%;
  }

  .detailsBuy {
    width: 35%;
  }

  .detailsSideInfo {
    justify-content: space-between;
    width: 40%;
    min-width: fit-content;
    margin: 10px 0;
  }

  .detailsCategoryIconContainer {
    position: static;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .detailsCategoryIcon {
    font-size: 0.6rem;
  }

  .date,
  .time {
    display: block;
    font-size: 0.6rem;
  }

  .detailsDescription {
    font-size: 0.7rem;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 30px;
  }

  .detailsSpeaker {
    font-size: 1.1rem;
    margin: 10px 0 20px;
  }

  .detailsSpeaker span {
    font-size: 0.8rem;
  }

  .similarBox {
    padding: 0px;
    margin-left: 15%;
  }

  .similarShops {
    display: flex;
  }

  .similarTitle {
    margin: 40px 0 20px;
    text-align: left;
  }

  .buyCard {
    position: static;
    z-index: auto;
    max-width: 250px;
    height: fit-content;
    padding: 25px 30px;
    margin-top: 30px;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
  }

  .cardPrice {
    font-size: 1.8rem;
  }

  .cardPrice span {
    font-size: 0.8rem;
  }

  .cardText {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .detailsBuyInfo {
    display: flex;
    width: auto;
    flex-wrap: wrap;
  }

  .detailsBuyInfo select {
    padding: 6px 6px;
    margin-bottom: 5px;
  }

  .cardBtn {
    background-color: var(--yellow);
    padding: 0.6em 1.7em;
  }

  .cardBtn:hover {
    background-color: var(--hoverYellow);
  }

  .cardTotal {
    display: inline;
    font-size: 0.5rem;
    color: var(--lightGray);
    align-self: flex-end;
  }
}

/* ------------------ WORKSHOP DETAILS PAGE ------------------ */

/* ------------------ MODAL ------------------ */

.modalContainer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.modalContent {
  width: 400px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.exitBtnFloat {
  position: absolute;
  right: 0px;
  top: 0px;
}

.modalHeader {
  position: relative;
}

.modalTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.modalDescription {
  font-size: 0.6rem;
  max-width: 200px;
  margin-bottom: 15px;
  color: var(--lightGray);
}

.inputContainer {
  margin-bottom: 15px;
  position: relative;
}

.dateGenderInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutBtn {
  background-color: var(--yellow);
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.checkoutBtn:hover {
  background-color: var(--hoverYellow);
}

.inputLabel {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 3px;
  margin-right: 3px;
}

.errorText {
  position: absolute;
  right: 0;
  display: inline;
  font-size: 0.7rem;
  color: var(--red);
}

.inputField {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--blue);
  outline: none;
  font-size: 0.8rem;
}

.inputFieldVaild,
.inputFieldVaild:focus {
  border-bottom: 1px solid green;
}

.inputFieldInvaild,
.inputFieldInvaild:focus {
  border-bottom: 1px solid var(--red);
}

.inputContainer select {
  border: none;
  border-bottom: 1px solid green;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.shortInput {
  width: 45%;
}

.checkbox {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox label {
  display: inline;
  cursor: pointer;
}

.checkbox input {
  width: fit-content;
  cursor: pointer;
}

@media (max-width: 500px) {
  .modalContent {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -50px;
  }
  .dateGenderInputs {
    display: block;
  }
  .shortInput {
    width: 100%;
  }
  .checkoutBTn {
    width: 100%;
    text-align: center;
    padding: 1em;
  }
  .inputContainer {
    margin-bottom: 25px;
  }

  .checkoutBtn {
    width: 100%;
    text-align: center;
    padding: 1.4em;
  }

  .modalTitle {
    font-size: 1.9rem;
  }

  .modalDescription {
    font-size: 0.8rem;
  }
  .checkoutBtn:hover {
    background-color: var(--yellow);
  }
}

/* ------------------ MODAL ------------------ */

.disableBtn {
  cursor: not-allowed;
}
