:root {
  --yellow: #ffce25;
  --hoverYellow: #bd9a1b;
  --blue: #0097cc;
  --hoverBlue: #005b7c;
  --darkGray: #1d1d1b;
  --lightGray: #7f7f7f;
  --lighterGray: #f2f2f2;
  --red: #ff392e;
}

img {
  max-width: 100%;
  display: block;
}

/* ------------------ HEADER ------------------ */

.headerContainer {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 100px 5px 20px;
  background-color: var(--yellow);
  z-index: 1;
}

.logo {
  cursor: pointer;
}

@media (max-width: 500px) {
  .headerContainer {
    padding-right: 20px;
  }
}

/* ------------------ HEADER ------------------ */

/* ------------------ CART ICON CONTAINER ------------------ */

.cartContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.iconContainer ion-icon {
  font-size: 1.5rem;
}

.iconContainer {
  color: black;
  cursor: pointer;
}

.iconContainer:hover {
  color: var(--lightGray);
}

.cartText {
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 10px;
}

.blueDot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  left: 16px;
  top: 2px;
}

@media (max-width: 500px) {
  .cartText {
    display: none;
  }
}

/* ------------------ CART ICON CONTAINER ------------------ */

/* ------------------ CART POPUP BOX ------------------ */

.cartPopupBox {
  position: fixed;
  width: 250px;
  height: 100vh;
  top: 0px;
  right: 0px;
  padding: 0 10px;
  background-color: white;
  z-index: 1;
}

.popupHeader {
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.exitBtn {
  font-size: 1.6rem;
  cursor: pointer;
  transform: rotate(45deg);
}

.exitBtn:hover {
  color: var(--lightGray);
}

.popupBuyBox {
  width: 80%;
  margin: 20px auto 0px auto;
}

.popupTotal {
  font-size: 0.6rem;
  color: var(--lightGray);
}

.popupPrice {
  font-size: 1.3rem;
  font-weight: 700;
}

.popupPrice span {
  font-size: 0.8rem;
}

.popupBtn {
  background-color: var(--blue);
  color: white;
  font-size: 0.7rem;
  padding: 1em 1.2em;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popupBtn:hover {
  background-color: var(--hoverBlue);
}

/* ------------------ CART POPUP BOX ------------------ */

/* ------------------ WORKSHOP CART BOX ------------------ */

.workshopCartBox {
  display: flex;
  background-color: var(--lighterGray);
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.workshopCartBoxImgContainer {
  width: 30%;
}

.workShopCartContent {
  width: 70%;
  padding: 10px;
}

.workshopCartBoxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workShopCartInfo {
  display: flex;
  margin-bottom: 10px;
}

.workShopCartBuy {
  display: flex;
  align-items: center;
}

.workShopCartBuy select {
  border: 1px solid var(--blue);
  padding: 4px 2px;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.workShopCartTitle {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--blue);
}

.workShopCartTrash ion-icon {
  font-size: 1rem;
  color: var(--lightGray);
  cursor: pointer;
}

.workShopCartTrash ion-icon:hover {
  color: var(--darkGray);
}

.workShopCartPrice {
  font-size: 0.8rem;
  font-weight: 700;
}

.workShopCartPrice span {
  font-size: 0.6rem;
}

/* ------------------ WORKSHOP CART BOX ------------------ */

/* ------------------ FOOTER ------------------ */

.footerContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: var(--lighterGray);
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.footerText {
  color: var(--lightGray);
}

/* ------------------ FOOTER ------------------ */

/* ------------------ WORKSHOPS LIST PAGE ------------------ */

.workshopPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.filterBy,
.categoriesBox {
  display: none;
}

.infoBox {
  margin-bottom: 10px;
  margin-left: 20px;
}

.pageTitle {
  font-size: 1.4rem;
  font-weight: 700;
}

.displayed {
  font-size: 0.7rem;
  color: var(--lightGray);
}

.displayed span {
  font-weight: 700;
}

.categoriesSelect select {
  border: none;
  background-color: white;
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 3px;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.loadMore {
  display: inline;
  margin: 0 auto;
  border-bottom: 1px solid var(--blue);
}

@media (min-width: 500px) {
  .workshopPage {
    display: grid;
    grid-template-columns: 1fr 2em 3fr;
    grid-template-rows: 50px 2em 1fr 2em 30px;
    grid-template-areas:
      "filter     .   info"
      ".          .      ."
      "cagetories .   main"
      ".          .       ."
      ".          .   load";
    padding: 20px;
  }

  .categoriesSelect {
    display: none;
  }

  .filterBy,
  .categoriesBox {
    display: block;
  }

  .filterBy {
    grid-area: filter;
    align-self: end;
    color: var(--lightGray);
    font-size: 0.7rem;
    margin-left: 30px;
  }

  .loadMore {
    grid-area: load;
    font-size: 0.7rem;
    font-weight: 700;
    border-bottom: 1px solid var(--blue);
    align-self: start;
    justify-self: end;
    margin-right: 150px;
    cursor: pointer;
  }

  .loadMore:hover {
    color: var(--blue);
  }

  .infoBox {
    grid-area: info;
    align-self: end;
    margin: 0;
  }

  .categoriesBox {
    grid-area: cagetories;
  }

  .all {
    margin-left: 30px;
  }

  .mainContent {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .category {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .category:hover,
  .category:focus {
    color: var(--blue);
  }

  .categoryIcon {
    width: 30px;
  }

  .currentCategory {
    color: var(--blue);
  }
}

/* ------------------ WORKSHOPS LIST PAGE ------------------ */

/* ------------------ WORKSHOP BOX ------------------ */

.workshopBox {
  display: block;
  height: 320px;
  width: 210px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
}

.boxImgContainer {
  height: 40%;
  width: 100%;
}

.boxImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.boxImg:hover {
  opacity: 0.8;
}

.boxImgContainer:hover {
  background-color: black;
}

.boxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
  position: relative;
  padding: 10px 10px;
}

.boxContentContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: -15px;
  width: 25px;
  height: 25px;
}

.boxFloatingIcon {
  font-size: 0.6rem;
}

.boxInfo {
  display: flex;
}

.boxInfo p {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--darkGray);
  margin-right: 5px;
}

.boxTitle {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.boxTitle:hover {
  color: var(--hoverBlue);
}

.price {
  font-weight: 700;
  columns: var(--darkGray);
}

.price span {
  font-size: 0.6rem;
}

.boxBtn {
  background-color: var(--yellow);
  display: inline-block;
  padding: 8px 5px;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.boxBtn:hover {
  background-color: var(--hoverYellow);
}

@media (max-width: 500px) {
  .workshopBox {
    display: none;
  }
}

/* ------------------ WORKSHOP BOX ------------------ */

/* ------------------ MOBILE WORKSHOP BOX ------------------ */
.mobileWorkshopBox {
  display: flex;
  background-color: var(--lighterGray);
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: space-between;
}

.mobileBoxImgContainer {
  width: 35%;
}

.mobileBoxImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobileBoxContent {
  position: relative;
  width: 65%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobileBoxIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
  color: white;
  border-radius: 5px;
  position: absolute;
  left: -15px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.mobileBoxInfo {
  display: flex;
}

.mobileTime,
.mobileDate {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--darkGray);
  margin-right: 5px;
}

.mobileBoxTitle {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.mobileBoxTitle:hover {
  color: var(--hoverBlue);
}

.mobileBuyInfo {
  display: flex;
  justify-content: space-between;
}

.mobilePrice {
  font-weight: 700;
}

.mobilePrice span {
  font-size: 0.6rem;
}

.mobileBoxBtn {
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.mobileBoxBtn:hover {
  background-color: var(--hoverYellow);
}

.mobileBoxBtn ion-icon {
  font-size: 1.4rem;
}

@media (min-width: 500px) {
  .mobileWorkshopBox {
    display: none;
  }
}
/* ------------------ MOBILE WORKSHOP BOX ------------------ */

/* ------------------ WORKSHOP DETAILS PAGE ------------------ */

.detailsPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 30px;
}

.topContent {
  display: flex;
  height: 800px;
  padding: 0 10px;
}

.bottomContent {
  background-color: var(--lighterGray);
  height: 450px;
}

.goBack {
  width: 20%;
}

.goBackBox {
  display: flex;
  height: 30px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.goBackBox:hover {
  color: var(--lightGray);
}

.detailsBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.detailsImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.detailsImgContainer {
  height: 40%;
}

.detailsContent {
  display: flex;
  justify-content: space-between;
  height: 60%;
}

.detailsInfo {
  width: 60%;
}

.detailsBuy {
  width: 35%;
}

.detailsSideInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 10px 0;
}

.detailsCategoryIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
  color: white;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.detailsCategoryIcon {
  font-size: 0.6rem;
}

.date,
.time {
  font-size: 0.6rem;
  font-weight: 700;
}

.detailsTitle {
  color: var(--blue);
}

.detailsDescription {
  font-size: 0.9rem;
}

.detailsSpeaker {
  font-size: 1.1rem;
  margin: 10px 0 20px;
}

.similarBox {
  margin-left: 20%;
}

.similarShops {
  display: flex;
}

.similarTitle {
  margin: 40px 0 20px;
}

.buyCard {
  max-width: 210px;
  height: fit-content;
  padding: 25px 30px;
  margin-top: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 34px -9px rgba(0, 0, 0, 0.75);
}

.cardText {
  font-size: 0.9rem;
  font-weight: 700;
}

.cardPrice {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 10px 0;
}

.cardPrice span {
  font-size: 0.7rem;
}

.buyInfo {
  display: flex;
  flex-wrap: wrap;
}

.buyInfo select {
  border: 1px solid var(--blue);
  padding: 5px 3px;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.cardBtn {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--yellow);
  padding: 0.6em 1.3em;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.cardBtn:hover {
  background-color: var(--hoverYellow);
}

.cardTotal {
  font-size: 0.5rem;
  color: var(--lightGray);
  text-align: center;
}

/* ------------------ WORKSHOP DETAILS PAGE ------------------ */

/* ------------------ CHECKOUT MODAL ------------------ */

.modalContainer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.modalContent {
  width: 400px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: auto;
  border-radius: 10px;
  padding: 50px;
  position: relative;
}

.exitBtnFloat {
  position: absolute;
  right: 50px;
  top: 50px;
}

.modalTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.modalDescription {
  font-size: 0.7rem;
  max-width: 200px;
  margin-bottom: 15px;
}

.inputContainer {
  margin-bottom: 15px;
  position: relative;
}

.dateGenderInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutBTn {
  background-color: var(--yellow);
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.checkoutBTn:hover {
  background-color: var(--hoverYellow);
}

.inputLabel {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 3px;
  margin-right: 3px;
}

.errorText {
  position: absolute;
  right: 0;
  display: inline;
  font-size: 0.7rem;
  color: var(--red);
}

.inputField {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--lightGray);
  outline: none;
  font-size: 0.8rem;
}

.inputField:focus {
  background-color: var(--lighterGray);
  border-bottom: 1px solid var(--blue);
}

.inputContainer select {
  border: none;
  border-bottom: 1px solid var(--lightGray);
  width: 100%;
  outline: none;
  cursor: pointer;
}

.shortInput {
  width: 45%;
}

.checkbox {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox label {
  display: inline;
  cursor: pointer;
}

.checkbox input {
  width: fit-content;
  cursor: pointer;
}

/* ------------------ CHECKOUT MODAL ------------------ */
